@model IEnumerable<Blog1.Models.PostViewModel>
@{
    ViewBag.Title = ViewBag.name;
}
<h4>@ViewBag.name Last Posts</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Text, "Details", new { id = item.Id })

            </td>
            <!--
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                -->

        </tr>
    }

</table>